<%= form_with(model: configuration, local: true) do |form| %>
  <% if configuration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(configuration.errors.count, "error") %> prohibited this configuration from being saved:</h2>

      <ul>
      <% configuration.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :client_id %>
    <%= form.number_field :client_id, id: :configuration_client_id %>
  </div>

  <div class="field">
    <%= form.label :scf_id %>
    <%= form.number_field :scf_id, id: :configuration_scf_id %>
  </div>

  <div class="field">
    <%= form.label :value %>
    <%= form.text_field :value, id: :configuration_value %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
