<p id="notice"><%= notice %></p>

<h1>Configurations</h1>

<table>
  <thead>
    <tr>
      <th>Client</th>
      <th>Scf</th>
      <th>Value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @configurations.each do |configuration| %>
      <tr>
        <td><%= configuration.client_id %></td>
        <td><%= configuration.scf_id %></td>
        <td><%= configuration.value %></td>
        <td><%= link_to 'Show', configuration %></td>
        <td><%= link_to 'Edit', edit_configuration_path(configuration) %></td>
        <td><%= link_to 'Destroy', configuration, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Configuration', new_configuration_path %>
