<p id="notice"><%= notice %></p>

<h1>Scfs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Default Value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @scfs.each do |scf| %>
      <tr>
        <td><%= scf.name %></td>
        <td><%= scf.description %></td>
        <td><%= scf.default_value %></td>
        <td><%= link_to 'Show', scf %></td>
        <td><%= link_to 'Edit', edit_scf_path(scf) %></td>
        <td><%= link_to 'Destroy', scf, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Scf', new_scf_path %>
